body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 5vh;
  }
  
  h2 {
    font-size: 4vh;
    margin-top: 5vh;
  }

.nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: medium;
    padding: 2vh;
    color: white;
    text-decoration: none;
}

.bar{
    display: flex;
    gap: 30px;
    text-decoration: none;
}

h1 {
    text-decoration: none;
    color: white;
    margin: 1vh;
}

.emo{
    color: red;
}

